body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

}
#container {
    width: 1080px;
    margin: 0 auto;
}

#logo a {
    text-align: justify;
    text-decoration: none;
    color: white;
    
}